#numDisplay {
    text-align: center; /* Center text content inside the element */
    font-size: 50px;
    margin: 0 auto; /* Horizontal centering for block elements */
}


.button {
    color: black;
    padding: 0px;
    font-size: 1.5em;
    background-color: rgb(46, 46, 248);
    margin: 5px; /* Add spacing between buttons */
    border: none; /* Remove borders */
    border-radius: 6px; /* Optional: rounded corners */
    transition-duration: 0.4s;
}

.button:hover {
  background-color: ; /* Green */
  color: white;
}
